.contenedor_flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.objeto_flex{
	width: 20%;
	padding: 10px;
}

.objeto_flex:hover{
	background-color: #f0f1f0;
}

@media only screen and (max-width: 630px){
	.objeto_flex{
		width: 120px;
	}
}